/* Common Elements */

body{
    background-color: 	#f9ddcb;
    font-family: fantasy;
    font-weight: 1;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
    text-decoration: 0;

}
h1{
    color: grey;
    font-size: 3.5em;
    margin: 0.5em;
    padding: 0;
}
p{
font-size: 1.5em;
line-height: 2em;
color: black;
padding: 0px;
margin: 1em;
}

ol{
    font-size: 1.5em;
    margin: 0 0 0 1em;
    padding:0 0 0 1em;
}

ol li{
    margin: 0;
    padding: 0 0 0 0.2em;
}

/* a */

hr{
    padding: 0;
    margin: 1.5em, 1.5em, 0.75em, 0.5em;
}
.left{
    float: left;
}
/* Header */
header{
    padding: 2.5em;
    margin: 0;
    background-color: 	#f9ebcb
    /* ADD */
}



.login{
    width: 2000px ;
    height: 150px ;
    position: fixed;
    z-index: -1;

}

/* Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav{
    background-color: whitesmoke;
    font-size: 2em;
    letter-spacing: 0.04em;
    padding: 0;
    margin: 0;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    font-display: inline-block;
    margin: 0;
}
nav li a, nav li a:visited {
    text-decoration: none;
    color: #b84747;
    padding: 0.3em 0.6em;
}
nav li a:hover{
    color: #b84747;
    background-color: rgba(252, 251, 243, 0.75);
}
nav#utilityMenu{
    margin: -1.5em 0 0 0;
    padding: 0.35em;
    background-color: rgba(64, 54, 47,0.8);
    display: inline;
}
nav#utilityMenu li{
    padding: 0 0.25em 0 0.2em;
    vertical-align: middle;
}
nav#utilityMenu ul li.acctNav a, nav#utilityMenu ul li.acctNav a:visited{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 1.5em;
    padding: 0.5em;
    margin: -0.4em 0 0 0;
    font-size: 1em;
}
nav#utilityMenu ul li.acctNav a.active{
    background-color: #b84747
}
nav#utilityMenu ul li .acctNav a:hover{
    background-color: rgba(252,251,243,0.7);
    color: #b84747;
}

nav#utilityMenu li a, nav#utilityMenu li a:visited
{padding: 0;}
nav#utilityMenu li a:hover { background-color: transparent;}
nav#utilityMenu ul li input#search{
    vertical-align: middle;
    margin: 0 0 0 1.0em;
}
nav#utilityMenu ul li.acctNav::before, nav#utilityMenu ul li input#search::before{
    content: "| ";
    color: #FCFBE6;
}
/* Sidebar */
section#sidebar{
    width: 500px;
    position: absolute;
    left: 10px;
    display: inline-block;
    background-color:	#ffb4a2;
    margin: 1.5em 0 3em 1.5em;
    padding: 1.7em 0.5em 2em 1.7em;
    border-left: 	#b84747 groove 5px;
    border-right: #b84747 ridge 5px;
    top: 150%;
}

/* Main */
/* section#main{
    background-color: #FCFBE6;
    margin: 0 0 2em;
    padding: 1.5em 0 2em 1.5em;
    display: inline-block;
    border-radius: 2em;
    box-shadow: 1px 1px 5px #777;
    width: 100%;
    height: 750px;
} */

section div.panel{
    float: right;
    position: relative;
    width: 250px;
    margin: 0 0.5em 2em 0.5em;
    padding: 1.0em;
    background-color: #fff;
    border: #ccc solid 1px;
    border-radius: 0.6em;
}

/* Footer */
footer {
    background-color:	#d8886d	;
    height: 25px;
    font-size: 1.2em;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1.5em 2em;
    left: 0;
    top: 3000px;
    position: absolute;
}

footer ul#menuFooter{
    display: inline-block;
    list-style: none;
    margin: 0 0 0 0.6em;
    padding: 0;}

footer ul li {
    display: inline-block;
    padding: 0 0.7em 0 0;
    margin: 0;
}
footer ul li:before {
    content: "| ";
    padding-right: 0.7em;
}
footer a, footer a:visited {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
.soc{
    height: 20px;
    position: absolute;
    top: 500%;
    padding: 0 50% 0;
}
.clothes{
    width: 365px;
    position: relative;
    display: block;
    left: 65%;
    z-index: 100;
    bottom: 0px;
}
.panel{
    margin: auto;
}
button {
    color: #f8b0a0;
    background-color: #FFF;
    display: inline-block;
    margin: 0 0.75em 0 0;
    padding: 0.2em 0.5em;
    border: 1px solid #f8b0a0;
    border-radius: 12px;
    text-transform: lowercase;
}
button:hover {
    background-color: whitesmoke;
    border: 1px solid black;
}

#pics{
    background-color: white;
}
/* #vid playerVars: {
    autoplay: 1,
    showinfo; 0,
    modestbranding: 1,
    loop: 1,
    iv_load_policy: 3,
    mute: 1,

} */